.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.activeNav a {
    color: #f1f1f1;
    background-color: #1b1bbb;
}

.main-content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px 16px;
    background-color: rgb(18, 236, 84);
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 16px;
}

.card a {
    color: black;
}