body {
    background-color: #442713;
}

.header h1 {
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 16px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px 16px;
    background-color: #3f4cff;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-card {
    background-color: white;
}

.card h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card img {
    height: 10%;
    width: 20%;
}